.nuestros_productos{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 80px;
    h2{
        font-size: 3em;
        text-align: center;
        display: inline-block;
        width: 100%;
        font-weight: 500;
    }
    .contenedor_productos_principales{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-top: 50px;
        padding-bottom: 70px;
        justify-content: space-around;
        a{
            display: inline-block;
            width: 40%;
            text-decoration: none;
            .producto_opcion_principal{
                width: 100%;
                height: 400px;
                position: relative;
                cursor: pointer;
                img{
                    position: absolute;
                    width: 95%;
                    height: 100%;
                }
                button{
                    padding-right:90px ;
                    padding-left:90px ;
                    font-size: 1.7em;
                    position: absolute;
                    top: 95%;
                    left: 23%;
                    border: none;
                    border: 1px solid #000;
                    cursor: pointer;
                }
            }
        }
    }
}